//FOOTER
.layout__footer
  padding: 1.5rem 0
  background-color: $colorSecondary800
  position: fixed
  bottom: 0
  z-index: 4
  width: 100%
  left: 0
  @includ etransition
  @include mediaMinWidthTabletPort
    padding: 2.5rem 0
    transform: translateY(100%)
  &.layout__footer_animation
    transform: translateY(0%)
  .container
    gap: 1.5rem
    display: flex
    flex-direction: column
    align-items: center
    @include mediaMinWidthTabletPort
      flex-direction: row
      justify-content: space-between
  .footer__copyright
    order: 2
    @include mediaMinWidthTabletPort
      order: -1
  .footer__nav
    .nav__list
      display: flex
      grid-gap: 1rem
    .nav__item
      &.nav__item_active,
      &:hover
        .nav__link
          &::before
            width: 0
    .nav__link
      position: relative
      @include transition
      &::before
        background-color: $colorWhite
        content: ""
        width: 100%
        height: .125rem
        border-radius: .125rem
        position: absolute
        top: calc(100% + .125rem)
        left: 50%
        @include transform-x
        @include transition