.layout__header
  padding: 1.25rem 0
  top: 0
  left: 0
  z-index: 9
  width: 100%
  position: absolute
  @include transition
  @include mediaMinWidthTabletPort
    transform: translateY(-100%)
  &.layout__header_animation
    transform: translateY(0)
  .container
    display: flex
    align-items: center
    height: 100%
    justify-content: space-between
  // header_menu-active
  &.layout__header_menu-active
    .header__nav
      transform: translateX(0)
    .header__burger
      .burger__item
        width: 2rem
        margin-bottom: 0

        &:nth-child(1)
          transform: rotate(45deg)

        &:nth-child(2)
          display: none

        &:nth-child(3)
          margin-top: -.25rem
          transform: rotate(-45deg)

    & ~ *
      opacity: .1
// header__logo
.header__logo
  .logo__link
    height: 100%
    display: flex
  img,
  svg
    height: 2.125rem
    width: auto
// burger
.header__burger
  display: flex
  width: 2.5rem
  height: 2.5rem
  flex-direction: column
  justify-content: center
  align-items: flex-end
  z-index: 10
  @include mediaMinWidthTabletPort
    display: none

  .burger__item
    width: 2rem
    background-color: $colorWhite
    height: .25rem
    border-radius: .5rem
    @include transition
    &:not(:last-child)
      margin-bottom: .25rem

// header__contact
.header__contact
  margin-left: auto
  margin-right: 2rem
  @include mediaMinWidthTabletPort
    margin-left: 0
    margin-right: 0
// header__navigation
.header__nav
  @include mediaMaxWidthTabletPort
    top: 100%
    left: 0
    width: 100%
    height: calc(100vh - 10rem)
    z-index: 3
    transform: translateX(-100%)
    position: fixed
    overflow: hidden
    overflow-y: auto
    @include transition

  .nav__list
    gap: 1.5rem
    display: flex
    flex-direction: column
    align-items: center
    @include mediaMinWidthTabletPort
      flex-direction: row
      gap: 3.75rem
  .nav__item
    &.nav__current,
    &:hover
      .nav__link
        &::before
          width: 100%
  .nav__link
    color: $colorWhite
    font-weight: 500
    cursor: pointer
    position: relative
    @include transition
    &::before
      background-color: $colorWhite
      content: ""
      width: 0
      height: .125rem
      border-radius: .125rem
      position: absolute
      top: calc(100% + .125rem)
      left: 50%
      @include transform-x
      @include transition





