// LAYOUT
.layout
  display: flex
  flex-direction: column
  // font-size: .875rem
  // line-height: 1.125rem

  @include backgroundRadial
  @include transition
  .layout__main
    flex-grow: 1
  &.layout_ready-load
    .layout__background
      transform: translate(-50%, -50%) scale(1)
      &.layout__background_disabled
        transform: translate(-50%, -50%) scale(0)
.layout__background
    position: fixed
    top: 50%
    left: 50%
    width: 54rem
    height: 54rem
    max-width: calc(100vw + 5rem)
    max-height: calc(100vh + 5rem)
    transform: translate(-50%, -50%) scale(.5)
    @include transition-long
    
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: contain
