.layout__section
  padding: 3rem 0
  min-height: 100vh
  position: relative
  z-index: 2
  @include mediaMinWidthTabletPort
    padding: 9.25rem 0
  .container
    gap: 3.5rem
    display: flex
    flex-direction: column
.section__header
  display: grid
  grid-gap: 2rem
  position: relative
  &::before
    content: ""
    position: absolute
    top: -3rem
    left: 50%
    height: .375rem
    width: 0
    border-radius: 1.25rem
    background-color: $colorSecondary300
    @include transition-long
    @include transform-x
.section__title
  background-image: linear-gradient(45deg, #ffffff, #E3CAFF)
  background-size: 100%
  background-repeat: repeat
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  -moz-background-clip: text
  -moz-text-fill-color: transparent



