// SLIDER
.layout__slider
  .slider__slide
    position: relative
    @include mediaMinWidthTabletPort
      height: 100vh
      overflow: hidden
      overflow-y: auto
    &:not(.slider__slide_secondary)
      .slide__layout
        padding: 4rem 1.5rem
        @include mediaMinWidthTabletPort
          padding: 5.25rem 5.5rem 2.5rem
    &:first-child
      .slide__layout
        padding-top: 7rem
        @include mediaMinWidthTabletPort
          padding-top: 12rem
    &:last-child
      .slide__layout
        padding-bottom: 7rem
        @include mediaMinWidthTabletPort
          padding-bottom: 9rem
  .slide__background
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 1.25rem
    display: flex
    align-items: flex-start
    img,
    svg
      width: 100%
      height: 100%
  .slide__layout
    gap: 2rem
    display: flex
    flex-direction: column
    overflow: hidden
    @include mediaMinWidthTabletPort
      gap: 3.5rem
      min-height: 100vh

    &.slide__layout_secondary
      justify-content: flex-end
  .slide__header
    display: grid
    grid-gap: 2rem
    position: relative
    &::before
      content: ""
      position: absolute
      top: -3rem
      left: 50%
      height: .375rem
      width: 0
      border-radius: 1.25rem
      background-color: $colorSecondary300
      @include transition-long
      @include transform-x
  .slide__title
    background-image: linear-gradient(45deg, #ffffff, #E3CAFF)
    background-size: 100%
    background-repeat: repeat
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    -moz-background-clip: text
    -moz-text-fill-color: transparent

  .slide__subtitle
    color: $colorSecondary100
    font-size: 1.25rem
    line-height: 1.5rem
    font-weight: 500


.slick-current
    .slide__header
      &::before
        width: 4.5rem
        transition-delay: .4s
















