// Виджет
.layout__widget
  padding: .75rem
  border-radius: 1.25rem
  padding: .75rem
  background-color: $colorSecondary700
  position: fixed
  right: 2.5rem
  bottom: 2.5rem
  gap: 0
  z-index: 3
  display: flex
  opacity: 0
  visibility: hidden
  align-items: center
  @include transition
  &.layout__widget_animation
    opacity: 1
    visibility: visible

  &:hover
    gap: .875rem
    .widget__layout
      max-width: 12rem
      padding-left: .5rem
      padding-right: .5rem
      transition-delay: 0s
    .widget__main,
    .widget__footer
      opacity: 1
      visibility: visible
      transition-delay: .4s
  .widget__layout
    max-width: 0
    text-align: center
    display: grid
    justify-content: center
    overflow: hidden
    grid-gap: .25rem
    @include transition
    transition-delay: .4s
  .widget__main,
  .widget__footer
    opacity: 0
    visibility: hidden
    @include transition
    transition-delay: 0s
  .widget__link
    color: $colorSecondary400
    font-weight: 500
    position: relative
    &:hover
      &:before
        width: 0
    &:before
      content: ""
      position: absolute
      top: calc(100% + .125rem)
      left: 50%
      height: 1px
      width: 100%
      background-color: $colorSecondary400
      @include transform-x
      @include transition
  .widget__media
    width: 6.5rem
    height: 6.5rem
    border-radius: .75rem
    overflow: hidden
    display: flex
    align-items: flex-start
    img
      width: 100%
      height: 100%


