// white color
$colorWhite: #ffffff
// error color
$colorRed: #FFAFAF
// succes color
$colorGreen: #013220
// primary color
$colorPrimary100: #F7FAFC
$colorPrimary200: #E6E8EC
$colorPrimary300: #7A828A
$colorPrimary400: #353945
$colorPrimary500: #16192C
// secondary color
$colorSecondary100: #E6D0FF
$colorSecondary200: #D9BDFB
$colorSecondary300: #D0A2F2
$colorSecondary400: #C994FF
$colorSecondary500: #B381D9
$colorSecondary600: #7E51B4
$colorSecondary700: #693F9D
$colorSecondary800: #7043A5
// fonts
$mainFont: 'Inter', sans-serif

  
// mixin
@mixin transition()
  transition: all 0.4s ease-in-out
@mixin transition-long()
  transition: all 0.8s ease-in-out
@mixin transform()
  transform: translate(-50%, -50%)

@mixin transform-x()
  transform: translateX(-50%)

@mixin transform-y()
  transform: translateY(-50%)

@mixin transform-none()
  transform: translate(0 , 0)

@mixin backgroundPrimary()
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(227,202,255,1) 100%)
@mixin backgroundRadial()
  background: rgb(161,123,202)
  background: radial-gradient(circle, rgba(161,123,202,1) 0%, rgba(119,71,178,1) 100%)
