<footer class="layout__footer footer">
  <div class="container">
    <!-- Копирайт -->
    <div class="footer__copyright copyright">
      <span class="copyright__text">Qvino.com 2024</span>
    </div>
    <!-- Навигация -->
    <div class="footer__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
