<header class="layout__header layout__header_animation header">
  <div class="container">
    <!-- Логотип -->
    <div class="header__logo logo">
      <a class="logo__link" href="index.html">
        <!-- partial:_logo.html -->
        <!-- partial -->
      </a>
    </div>
    <!-- Навигация -->
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <span class="nav__link" data-index="4">Тарифы</span>
        </li>
        <li class="nav__item">
          <span class="nav__link" data-index="5">Возможности</span>
        </li>
        <li class="nav__item">
          <span class="nav__link" data-index="6">Услуги</span>
        </li>
        <li class="nav__item">
          <span class="nav__link" data-index="7">Этикетка</span>
        </li>
        <li class="nav__item">
          <span class="nav__link" data-index="8">Qvino</span>
        </li>
      </ul>
    </nav>
    <!-- Контакт -->
    <div class="header__contact contact">
      <a class="btn" href="#">
        <span class="btn__text">Связаться с нами</span>
      </a>
    </div>
    <!-- Бургер -->
    <div class="header__burger burger">
      <span class="burger__item"></span>
      <span class="burger__item"></span>
      <span class="burger__item"></span>
    </div>
  </div>
</header>
