<svg
  xmlns="http://www.w3.org/2000/svg"
  width="114"
  height="35"
  viewBox="0 0 114 35"
  fill="none"
>
  <g clip-path="url(#clip0_11_3536)">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M14.5003 0.499992C7.40032 1.59999 1.80032 6.99999 0.300321 14C-0.799679 19.4 0.900321 25.2 4.70032 29.2C8.70032 33.3 14.1003 35.1 19.6003 34.3C21.9003 33.9 23.8003 33.2 26.0003 31.9L27.1003 31.2L25.3003 29.4L23.5003 27.6L22.3003 28.2C20.7003 29 19.5003 29.3 17.5003 29.4C14.0003 29.6 11.0003 28.4 8.50032 25.9C6.00032 23.4 4.80032 20.2 5.00032 16.8C5.20032 13.7 6.40032 11.1 8.60032 8.79999C14.4003 3.09999 24.2003 4.79999 27.7003 12.1C28.7003 14.1 28.9003 14.9 28.9003 17.3C28.9003 19.7 28.7003 20.8 27.8003 22.6L27.2003 23.8L29.0003 25.6L30.8003 27.4L31.1003 27C31.3003 26.8 31.7003 26 32.1003 25.3C36.2003 17.5 33.7003 7.79999 26.3003 2.99999C22.9003 0.799992 18.6003 -0.100008 14.5003 0.499992ZM100.6 5.49999C95.4003 6.09999 91.2003 9.99999 90.3003 15.1C90.0003 16.8 90.1003 19.1 90.5003 20.7C91.7003 24.9 95.2003 28.2 99.6003 29.1C100.9 29.4 103.7 29.3 105.1 29C109.7 27.8 113 24.1 113.9 19.5C114.1 18.2 114 15.5 113.7 14.3C113.6 13.8 113.1 12.7 112.7 11.9C112.1 10.6 111.8 10.2 110.6 9.09999C109.3 7.69999 108 6.89999 106.5 6.29999C104.8 5.59999 102.5 5.29999 100.6 5.49999ZM36.1003 5.99999C36.1003 5.99999 37.8003 11.2 39.8003 17.5L43.5003 28.9H46.9003C48.7003 28.9 50.3003 28.9 50.3003 28.9C50.3003 28.9 52.0003 23.7 54.0003 17.5C56.0003 11.3 57.7003 6.09999 57.7003 5.99999C57.7003 5.89999 56.4003 5.89999 54.9003 5.89999H52.0003L51.7003 6.79999C51.5003 7.29999 50.4003 11 49.2003 15.1C48.0003 19.2 46.9003 22.5 46.9003 22.6C46.8003 22.7 45.7003 18.9 44.3003 14.3L41.8003 5.89999H38.9003C37.3003 5.89999 36.1003 5.89999 36.1003 5.99999ZM59.8003 17.5V29H62.4003H65.0003V17.5V5.89999H62.4003H59.8003V17.5ZM69.0003 17.4V28.9H71.6003H74.2003V22.7C74.2003 19.3 74.2003 16.5 74.3003 16.5C74.4003 16.5 76.4003 19.3 78.8003 22.7L83.2003 28.9H85.1003H87.0003V17.5V5.89999H84.4003H81.8003V12.1C81.8003 18 81.8003 18.3 81.5003 18C81.4003 17.8 79.4003 15 77.1003 11.8L73.0003 5.89999H71.0003H69.0003V17.4ZM15.4003 10.8C14.2003 11.1 13.2003 11.7 12.3003 12.6C8.70032 16.2 10.2003 22.3 15.0003 23.9C16.1003 24.3 17.8003 24.3 18.9003 24L19.7003 23.8L18.3003 22.4L16.9003 21L18.7003 19.2L20.5003 17.4L21.9003 18.8L23.3003 20.2L23.5003 19.4C23.8003 18.3 23.8003 16.6 23.4003 15.5C22.4003 11.9 18.8003 9.89999 15.4003 10.8ZM104 10.8C105.2 11.2 105.8 11.5 106.8 12.4C109 14.5 109.5 18.4 107.9 21C105.8 24.5 100.6 25.3 97.6003 22.5C96.2003 21.2 95.6003 19.8 95.4003 17.9C95.1003 14.6 97.0003 11.7 100 10.8C101 10.5 103 10.5 104 10.8Z"
      fill="white"
    />
  </g>
  <defs>
    <clipPath id="clip0_11_3536">
      <rect width="114" height="35" fill="white" />
    </clipPath>
  </defs>
</svg>
