<div class="layout__widget widget">
  <div class="widget__layout">
    <div class="widget__main">
      <span class="widget__text">Попробуйте цифровую витрину</span>
    </div>
    <div class="widget__footer">
      <a class="widget__link" href="#">Посмотреть</a>
    </div>
  </div>
  <div class="widget__media">
    <img
      class="service__ico"
      src="img/content/widget/widget__img01.png"
      alt="image description"
    />
  </div>
</div>
