// button
.btn
  color: $colorPrimary400
  background-color: $colorWhite
  border: 0
  font-weight: 500
  padding: 1rem 2rem
  border-radius: 4rem
  margin: 0
  overflow: hidden
  position: relative
  text-decoration: none
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  outline: none
  text-align: center
  appearance: none
  @include transition
  &::before
    content: ""
    position: absolute
    background-color: $colorSecondary300
    top: 0
    left: 0
    width: 0
    height: 100%
    border-radius: 4rem
    @include transition
  &:hover
    color: $colorWhite
    background-color: $colorSecondary300
    &::before
      width: 100%
  &:disabled
    border-color: $colorPrimary300
    background-color: $colorPrimary300
  
  .btn__text
    position: relative
    z-index: 2
