// Группы формы
.form__group
  &:not(:last-child)
    margin-bottom: .5rem
  .group__header
    padding: .75rem 0
    border-bottom: 1px solid $colorPrimary200
    &:not(:last-child)
      margin-bottom: 1.5rem
  .group__main
    &:not(:last-child)
      margin-bottom: .75rem


// Ячейка формы
.form-item
  margin-bottom: 1.25rem
  &.form-item_before
    .form-item__media
      left: 0
    .form-item__input,
    .jcf-select-text
      padding-left: 3.5rem
  &.form-item_after
    .form-item__media
      right: 0
    .form-item__input,
    .jcf-select-text
      padding-right: 3.5rem
// Шапка
.form-item__header
  &:not(:last-child)
    margin-bottom: 0.5rem
  .form-item__title
    color: $colorPrimary500
    font-size: 1rem
    line-height: 1.5rem
    font-weight: 400
    cursor: pointer
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    @include transition
    &:hover
      color: $colorSecondary500


// Обертка для елементов формы
.form-item__main
  position: relative
  &:hover
    .form-item__input
      border-color: $colorSecondary400
// Иконка формы
.form-item__media
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  width: 3.5rem
  height: 3.5rem
  top: 0
  &:hover
    .media__ico
      stroke: $colorSecondary500
  .media__ico
    width: 1.5rem
    height: 1.5rem
    stroke: $colorPrimary300
    fill: transparent
    @include transition

// Поле ввода
.form-item__input
  color: $colorPrimary500
  background-color: $colorWhite
  font-size: 1rem
  line-height: 1rem
  font-weight: 400
  font-family: $mainFont
  padding: 1rem 1.25rem
  width: 100%
  border-radius: .5rem
  border: .125rem solid $colorPrimary200
  margin: 0
  text-overflow: ellipsis
  box-sizing: border-box
  appearance: none
  outline: none
  @include transition
  // заблокированно
  &:disabled
    opacity: .5
  // ошибка
  &.error
    border-color: $colorSecondary200
  // подсказка
  &::placeholder
    opacity: 1
    color: $colorPrimary300
  // активное поле
  &:focus,
  &:hover
    border-color: $colorSecondary400

  // екстареа
  &.form-item__input_textarea
    width: 100%
    height: 6.875rem
    resize: none

// Стилизация чекбоксов и радиокнопок
.custom-check
  .custom-check__label
    position: relative
    display: flex
  .custom-check__input
    position: absolute
    opacity: 0
    // нажатое состояние
    &:checked ~ .custom-check__ico
      &.custom-check__ico_before
        opacity: 0

      &.custom-check__ico_after
        opacity: 1
    // заблокированное состояние
    &:disabled ~ .custom-check__text
      pointer-events: none
    // ошибка
    &.error ~ .custom-check__text
      color: $colorSecondary200
  // текст
  .custom-check__text
    font-size: 1rem
    line-height: 1.625rem
    padding-left: 2.625rem
    position: relative
    cursor: pointer
    display: flex
    flex-wrap: wrap

  .custom-check__ico
    width: 1.625rem
    min-width: 1.625rem
    height: 1.625rem
    position: absolute
    top: 0
    left: 0
    @include transition

    &:not(:last-child)
      margin-right: .25rem

    &.custom-check__ico_before
      opacity: 1

    &.custom-check__ico_after
      opacity: 0

  // checkbox
  input[type='checkbox']
    & ~ .custom-check__text
  // radio
  input[type='radio']
    & ~ .custom-check__text
      &:before,
      &:after
        border-radius: 50%



// Стилизация скролла
::-webkit-scrollbar
  width: 0
  height: 0
::-webkit-scrollbar-track
  background: $colorWhite
::-webkit-scrollbar-thumb
  background-color: $colorSecondary400
  &:hover
    background-color: $colorSecondary400