// container
.container
  max-width: calc(100vw - 2rem)
  margin: 0 auto
  @include mediaMinWidthTabletPort
    max-width: calc(100vw - 10rem)

.text-center
  text-align: center

.scroll
  overflow: hidden
  overflow-x: auto
  display: flex
  .scroll__item
    flex-shrink: 0