
// RESET
html, body, div, span, applet, object, iframe,main,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, button, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font: inherit
  outline: none
  vertical-align: baseline
  box-sizing: border-box

main, article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

html
  font: 400 3.5vw/1.25rem $mainFont
  @include mediaMinWidthTabletPort
    font-size: 1.2121vw
body
  color: $colorWhite
  background-color: $colorWhite
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none
html,
body
  min-height: 100%
  @include mediaMinWidthTabletPort
    overflow: hidden
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
  font-weight: 700

  a
    color: $colorPrimary400
    text-decoration: none
    &:hover
      text-decoration: underline
  
h1,
.h1
  font-size: 3rem
  line-height: 3.25rem
  @include mediaMinWidthTabletPort
    font-size: 3.375rem
    line-height: 3.5rem
h2,
.h2
  font-size: 2.75rem
  line-height: 3rem
  @include mediaMinWidthTabletPort
    font-size: 3rem
    line-height: 3.5rem
h3,
.h3
  font-size: 1.5rem
  line-height: 2rem
  @include mediaMinWidthTabletPort
    font-size: 2.5rem
    line-height: 3rem
h4,
.h4
  font-size: 1.25rem
  line-height: 1.5rem
  @include mediaMinWidthTabletPort
    font-size: 1.25rem
    line-height: 1.75rem
h5,
.h5
  font-size: 1rem
  line-height: 1.5rem

h6,
.h6
  font-size: 1rem
  line-height: 1.5rem

img,
svg
  outline: none
  max-width: 100%
  max-height: 100%
  object-fit: cover
  height: auto

ul,
ol
  list-style: none

a
  color: $colorWhite
  text-decoration: none
