// ABOUT
.layout__about
  display: grid
  align-items: flex-start
  position: relative
  grid-gap: 4rem
  .about__layout
    display: grid
    align-items: flex-start
    grid-gap: 2rem
    @include mediaMinWidthTabletPort
      padding: 3rem 0
      grid-gap: 2.5rem
      max-width: 50%
  .about__header
    position: relative
    &::before
      content: ""
      position: absolute
      top: -3rem
      left: 0
      height: .375rem
      width: 0
      border-radius: 1.25rem
      background-color: $colorSecondary300
      @include transition-long
  .about__title
    background-image: linear-gradient(45deg, #ffffff, #E3CAFF)
    background-size: 100%
    background-repeat: repeat
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    -moz-background-clip: text
    -moz-text-fill-color: transparent
  .about__main
    text-transform: uppercase
  .about__footer
    display: flex
    justify-content: flex-start
  .about__media
    @include mediaMinWidthTabletPort
      position: fixed
      left: calc(50% + 4rem)
      width: 40%
      transform: translateY(calc(50% + 2.5rem))
      @include transition-long
.slick-current
  .layout__about
    .about__header
      &::before
        width: 4.5rem
    .about__media
      transform: translateY(2.5rem)




