// BOXES
.layout__boxes
  .boxes__list
    display: grid
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 2rem
    &.boxes__list_secondary
      @include mediaMinWidthTabletPort
        grid-template-columns: repeat(2, 1fr)
  .boxes__item
    border-radius: 1.25rem
    padding: 2.5rem 1.25rem 1rem
    border: 1px solid $colorWhite
    position: relative
    @include mediaMinWidthTabletPort
      font-size: .875rem
      line-height: 1rem
    &::before
      content: ""
      width: .875rem
      height: .875rem
      border: 1px solid $colorWhite
      border-radius: 50%
      position: absolute
      top: 1rem
      left: 1.25rem

  
  .boxes__main
    
    @include mediaMinWidthTabletPort
      overflow: hidden
      overflow-y: auto

















