// CAROUSEL
.layout__carousel
  overflow: hidden
  overflow-x: auto
  .carousel__list
    display: flex
    flex-direction: column
    cursor: grab
    @include mediaMinWidthTabletPort
      flex-direction: row
  .carousel__item
    padding: 1.25rem
    display: flex
    flex-direction: column
    align-items: flex-start
    position: relative
    gap: 2.5rem
    flex-shrink: 0
    width: auto
    grid-template-columns: 1fr
    counter-increment: item
    @include mediaMinWidthTabletPort
      flex-direction: row
      padding: 5.25rem 4rem 2.5rem
      gap: 7.5rem
      width: 100vw
      height: 100vh
    &.carousel__item_active
      .carousel__media
        transform: translateY(0)
      &::before
        opacity: .05
        visibility: visible
        transition-delay: .4s
    &:first-child
      &::after
        left: 12rem
        width: 100%
    &:last-child
      &::after
        left: 0
        width: 12rem
    
    @include mediaMinWidthHdDesktop
      &::before
        content: counter(item)
        font-size: 150vh
        line-height: 100vh
        font-weight: 700
        position: absolute
        right: 0
        top: -1.5rem
        opacity: 0
        visibility: hidden
        @include transition-long
      &::after
        content: ""
        height: .125rem
        width: calc(100% + 7rem)
        background-color: $colorSecondary300
        position: absolute
        left: 0
        bottom: 2.75rem
  .carousel__background
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 0
    overflow: hidden
    @include mediaMinWidthTabletPort
      position: absolute
      top: 3.5rem
      left: 0
      width: calc(100% - 3rem)
      height: calc(100% - 5.5rem)
      border-radius: 2rem
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(0,0,0,.3)
    video

  .carousel__media
    display: flex
    align-items: flex-start
    flex-shrink: 0
    position: relative
    z-index: 2
    @include mediaMinWidthTabletPort
      height: calc(100vh - 10rem)
      transform: translateY(50%)
      @include transition-long
      &::after
        content: ""
        position: absolute
        top: calc(100% + 1.125rem)
        left: 50%
        background-color: $colorWhite
        border: .25rem solid $colorSecondary100
        width: 1.5rem
        height: 1.5rem
        border-radius: 50%
        box-sizing: border-box
        z-index: 2
        @include transform-x
    img
      object-fit: contain
      object-position: left


  .carousel__layout
    padding: 3rem 0
    height: 100%
    max-width: 45rem
    display: flex
    flex-direction: column
    justify-content: center
    gap: 2rem
    position: relative
    z-index: 2
    &.carousel__layout_secondary
      @include mediaMinWidthTabletPort
        justify-content: flex-end



  .carousel__header
    position: relative
    &::before
      background-color: $colorSecondary300
      content: ""
      width: 4.5rem
      height: .375rem
      border-radius: 1.25rem
      position: absolute
      top: -2.5rem
      left: 0
      @include transition
  .carousel__title
    background-image: linear-gradient(45deg, #ffffff, #E3CAFF)
    background-size: 100%
    background-repeat: repeat
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    -moz-background-clip: text
    -moz-text-fill-color: transparent
  .carousel__footer
    display: flex
    justify-content: flex-start

.slick-current
  .layout__carousel
    .carousel__item
      &:nth-child(1)
        .carousel__media
          transform: translateY(0)

















