// Данные
.layout__data
  .data__list
    display: grid
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 1.5rem 1.25rem
    &.data__list_secondary
      @include mediaMinWidthTabletPort
        grid-template-columns: repeat(2, 1fr)
  .data__item
    display: grid
    align-items: center
    grid-template-columns: 2.5rem auto
    grid-gap: 1.25rem
    @include mediaMinWidthTabletPort
      font-size: .875rem
      line-height: 1rem
  .data__media
    width: 2.5rem
    height: 2.5rem
    border-radius: .75rem
    border: 1px solid $colorSecondary200
    display: flex
    justify-content: center
    align-items: center
  .data__ico
    width: 1.5rem
    height: 1.5rem
