// EVENT
.layout__event
  display: grid
  grid-gap: 2rem
  @include mediaMinWidthTabletPort
    grid-template-columns: 41.125rem auto
    grid-gap: 3rem

  .event__banner
    position: relative
    .banner__background
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      border-radius: 2rem
      display: flex
      align-items: flex-start
      overflow: hidden
      img,
      svg
        width: 100%
        height: 100%
    .banner__media
      padding: .75rem 2rem
      margin: 0 auto
      width: 17rem
      border-radius: 1.25rem
      background-color: $colorSecondary700
      position: relative
      &::after
        content: ""
        width: 0
        height: 0
        border-top: 3rem solid $colorSecondary700
        border-left: 2rem solid transparent
        position: absolute
        right: 2rem
        top: 100%
      .media__list
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 1.5rem
      .media__item
        width: 5.75rem
        height: 5.75rem
        display: flex
        align-items: flex-start


        img,
        svg
          width: 100%
          height: 100%
    .banner__layout
      padding: 2.5rem 1.5rem
      display: flex
      flex-direction: column
      position: relative
      z-index: 2
      @include mediaMinWidthTabletPort
        padding: 4.5rem 2.5rem 2.5rem
    .banner__media
      &:not(:last-child)
        margin-bottom: 7rem
    .banner__header
      position: relative
      &::before
        content: ""
        position: absolute
        top: -2rem
        left: 0
        height: .375rem
        width: 4.5rem
        border-radius: 1.25rem
        background-color: $colorSecondary300
      &:not(:last-child)
        margin-bottom: 2rem
    .banner__title
      background-image: linear-gradient(45deg, #ffffff, #E3CAFF)
      background-size: 100%
      background-repeat: repeat
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      -moz-background-clip: text
      -moz-text-fill-color: transparent
    .banner__main
      &:not(:last-child)
        margin-bottom: 4rem
    .banner__footer
      display: flex
      justify-content: flex-start


  .event__list
    height: 100%
    display: flex
    flex-direction: column
    gap: 1.5rem
  .event__item
    border-radius: 2rem
    padding: 2rem
    height: 100%
    background-color: $colorSecondary700
    display: flex
    flex-direction: column
    justify-content: flex-end
    gap: .75rem
  .event__ico
    width: 3.5rem
    height: 3.5rem
  .event__text
    font-size: 1.125rem
    line-height: 1.25rem
    font-weight: 700






