// FIGURE
.layout__figure
  position: relative
  @include mediaMinWidthTabletPort
    width: 100%
    height: 100%
    position: absolute
    top: 50%
    left: 50%
    @include transform
  .figure__ellipsis
    @include mediaMinWidthTabletPort
      border-radius: 50%
      position: absolute
      top: 50%
      left: 50%
      display: flex
      justify-content: center
      align-items: center
      @include transform
      &:not(.figure__ellipsis_primary)
        border: .125rem solid $colorSecondary100
      &.figure__ellipsis_primary
        width: 14rem
        height: 10.25rem
        background-color: $colorWhite
        z-index: 3
      &.figure__ellipsis_secondary
        width: 30rem
        height: 20rem
        z-index: 2
      &.figure__ellipsis_tertiary
        width: 51rem
        height: 35rem
        z-index: 1
    @include mediaMaxWidthTabletPort
      .figure__list
        display: flex
        flex-direction: column
        font-size: 1.25rem
        line-height: 2rem
        margin-bottom: 1.5rem
        br
          display: none
          
          


  .figure__logo
    display: grid
    justify-content: center
    grid-gap: .75rem
    @include mediaMaxWidthTabletPort
      margin-bottom: 2.5rem
    .logo__ico
      width: 6.75rem
      height: 2rem
      margin: 0 auto
      @include mediaMaxWidthTabletPort
        width: 8rem
        height: auto
    .logo__text
      color: $colorSecondary500
      font-size: 1rem
      line-height: 1.25rem
      @include mediaMaxWidthTabletPort
        color: $colorWhite
        font-size: 1.5rem
        line-height: 1.5rem
  .figure__list
    @include mediaMinWidthTabletPort
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  .figure__item
    @include mediaMinWidthTabletPort
      font-weight: 300
      text-align: center
      position: absolute
      white-space: nowrap
      opacity: 0
      visibility: hidden
      @include transition-long
      &:hover
        &::before
          width: 1.5rem
          height: 1.5rem
      &::before
        content: ""
        width: 1.25rem
        height: 1.25rem
        border: .25rem solid $colorSecondary100
        background-color: $colorWhite
        border-radius: 50%
        box-sizing: border-box
        position: absolute
        @include transform
        @include transition
      &:nth-child(1)
        bottom: calc(100% + 1rem)
        left: 50%
        @include transform-x
        &::before
          top: calc(100% + 1rem)
          left: 50%

      &:nth-child(2)
        top: 50%
        left: calc(100% + 1rem)
        @include transform-y
        &::before
          top: 50%
          left: -1rem

      &:nth-child(3)
        top: calc(100% + 1rem)
        left: 50%
        @include transform-x
        &::before
          top: -1rem
          left: 50%

      &:nth-child(4)
        top: 50%
        right: calc(100% + 1rem)
        @include transform-y
        &::before
          top: 50%
          left: calc(100% + 1rem)



.slick-current
  .figure__ellipsis
  
    &.figure__ellipsis_primary
      .figure__item
        transition-delay: .2s
    &.figure__ellipsis_secondary
      .figure__item
        transition-delay: .4s
    &.figure__ellipsis_tertiary
      .figure__item
        transition-delay: .6s
    .figure__item
      opacity: 1
      visibility: visible














