// POSITBILITIES
.layout__possibilities
  position: relative

  .possibilities__layout
  .possibilities__header
    position: relative
    &:not(:last-child)
      margin-bottom: 2rem
    &::before
      content: ""
      position: absolute
      top: -3rem
      left: 0
      height: .375rem
      width: 0
      border-radius: 1.25rem
      background-color: $colorSecondary300
      @include transition-long
  .possibilities__title
    background-image: linear-gradient(45deg, #ffffff, #E3CAFF)
    background-size: 100%
    background-repeat: repeat
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    -moz-background-clip: text
    -moz-text-fill-color: transparent
  .possibilities__main
    @include mediaMinWidthTabletPort
      max-width: 50%
    &:not(:last-child)
      margin-bottom: 3rem
  .possibilities__list
    display: grid
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
      grid-template-columns: repeat(3, 1fr)
  .possibilities__item
    padding: 1.5rem
    border-radius: 2rem
    font-size: 1.125rem
    line-height: 1.5rem
    min-height: 8rem
    font-weight: 500
    background-color: rgba(105,63,157,.7)
    display: flex
    align-items: flex-end


.slick-current
  .layout__possibilities
    .possibilities__header
      &::before
        width: 4.5rem






