// presentation
.layout__presentation
  position: relative
  .presentation__media
    width: calc(100% - 3rem)
    margin: 0 auto
    display: flex
    align-items: flex-start
    justify-content: center
    transform: translateY(25%)
    @include transition-long
    @include mediaMinWidthTabletPort
      width: 28rem
  .presentation__main  
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    align-items: center
.presentation__list
  gap: 10rem
  grid-template-columns: repeat(2, 1fr)
  display: flex
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap
.presentation__item
  border-radius: 1.25rem
  padding: 1.5rem 1rem
  width: 17rem
  background-color: $colorSecondary700
  text-align: center
  position: relative
  opacity: 0
  visibility: hidden
  transform: translateY(2rem)
  @include transition-long
  @include mediaMinWidthTabletPort
    padding: 1.25rem 2.5rem
    width: 24.75rem
  &:nth-child(1)
    transform: translate(-4rem, 2rem)
    transition-delay: 0s
  &:nth-child(2)
    transform: translate(-1rem, 2rem)
    transition-delay: .2s
  &:nth-child(3)
    transform: translate(1rem, 2rem)
    transition-delay: .4s
  &:nth-child(4)
    transform: translate(-8rem, 0)
    transition-delay: .6s
  &::after
    content: ""
    width: 0
    height: 0
    border-top: 3rem solid $colorSecondary700
    border-left: 2rem solid transparent
    position: absolute
    right: 2rem
    top: calc(100% - .125rem)
.layout_ready-load
  .layout__presentation
    .presentation__media
      transform: translateY(0)
.slider__slide_animation
  .presentation__item
    opacity: 1
    visibility: visible
    &:nth-child(1)
      transform: translate(-4rem, 0)
    &:nth-child(2)
      transform: translate(-1rem, 0)
    &:nth-child(3)
      transform: translate(1rem, 0)
    &:nth-child(4)
      transform: translate(-8rem, -2rem)