// Цены


.layout__prices
  .prices__list
    display: grid
    align-items: flex-start
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
      grid-gap: 2.5rem
      grid-template-columns: repeat(3, 1fr)
  .prices__item
    border: 1px solid $colorSecondary300
    border-radius: 1.25rem
    overflow: hidden
    @include transition-long
    @include mediaMinWidthTabletPort
      &:nth-child(1)
        transform: translateX(calc(100% + 2.5rem))
      &:nth-child(2)
        position: relative
        z-index: 2
      &:nth-child(3)
        transform: translateX(calc(-100% - 2.5rem))  
  .price__head
    color: $colorSecondary600
    padding: 2.25rem 2rem 3rem
    display: grid
    grid-gap: .25rem
    @include backgroundPrimary
    &:not(:last-child)
      margin-bottom: -1rem
  .price__title
    font-size: 1.25rem
    line-height: 1.25rem
    font-weight: 700
  .price__subtitle
    font-size: 2rem
    line-height: 2rem
    font-weight: 700
  .price__layout
    background-color: $colorSecondary600
    border: 1px solid $colorSecondary300
    border-radius: 1.25rem
    padding: 1.5rem 1.25rem
    display: grid
    gap: 1.5rem
  .price__list
    display: grid
    grid-gap: .5rem
  .price__item
    display: grid
    grid-gap: .5rem
    grid-template-columns: 1.125rem auto
  .price__ico
    width: 1.125rem
    height: 1.125rem
    transform: translateY(.125rem)
  .price__text
    font-weight: 500


.slick-current
  .prices__item
    @include mediaMinWidthTabletPort
      &:nth-child(1)
        transform: translateX(0)
      &:nth-child(2)
        position: relative
        z-index: 2
      &:nth-child(3)
        transform: translateX(0)  


