// SERVICES
.layout__services
  .services__list
    display: flex
    counter-reset: item
    flex-direction: column
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
      grid-gap: 2rem
      flex-direction: row
      overflow: hidden
      overflow-x: auto
  .services__item
    width: 100%
    border: .125rem solid $colorSecondary300
    border-radius: 1.25rem
    counter-increment: item
    flex-shrink: 0
    position: relative
    overflow: hidden
    @include mediaMinWidthTabletPort
      width: 16.25rem
    &::before
      content: counter(item)
      font-size: 13.75rem
      line-height: 10rem
      font-weight: 700
      position: absolute
      right: -1.25rem
      bottom: -1.75rem
      opacity: 0
      @include transition-long
  .service__head
    color: $colorSecondary600
    padding: 2rem
    @include backgroundPrimary
  .service__ico
    width: 4.5rem
    height: 4.5rem
    object-fit: contain
  .service__subtitle
    font-size: 2rem
    line-height: 2rem
    font-weight: 700
  .service__layout
    background-color: $colorSecondary600
    border: .125rem solid $colorSecondary300
    border-radius: 1.25rem
    padding: 2rem 1.5rem
    margin: -.75rem -.125rem -1rem
    width: calc(100% + .25rem)
    height: 12.5rem
    display: grid
    gap: 1.5rem
    overflow: hidden
    overflow-y: auto
  .service__text
    font-size: 1.25rem
    line-height: 1.25rem
    font-weight: 700

.slick-current
  .services__item
    &::before
      opacity: .1